.page-width .sy{
	background: #0074ff;
}
.page-width{
	border-top: 2px solid #0074ff;
	background: #0074ff;
}
.rec{
	border: 1px solid #0074ff;
}
.govsite span{
	color: #0074ff;
}
.news h4{
	color: #0074ff;
}
.hfzt{
	color: #0074ff;
}