.page-width .sy{
	background: #099e6a;
}
.page-width{
	border-top: 2px solid #099e6a;
	background: #099e6a;
}
.rec{
	border: 1px solid #099e6a;
}
.govsite span{
	color: #099e6a;
}
.news h4{
	color: #099e6a;
}
.hfzt{
	color: #099e6a;
}