.page-width .sy{
	background: #ff0000;
}
.page-width{
	border-top: 2px solid #ff0000;
	background: #ff0000;
}
.rec{
	border: 1px solid #ff0000;
}
.govsite span{
	color: #ff0000;
}
.news h4{
	color: #ff0000;
}
.hfzt{
	color: #ff0000;
}