.page-width .sy{
	background: #9e00f2;
}
.page-width{
	border-top: 2px solid #9e00f2;
	background: #9e00f2;
}
.rec{
	border: 1px solid #9e00f2;
}
.govsite span{
	color: #9e00f2;
}
.news h4{
	color: #9e00f2;
}
.hfzt{
	color: #9e00f2;
}